main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "fish-flag vase-short"
    "map vase-short"
    "vase-tall bamboo"
    "vase-tall quadropus";
}

#fish-flag{
    grid-area: fish-flag;
}

#map{
    grid-area: map;
}

#vase-short{
    grid-area: vase-short;
}

#vase-tall{
    grid-area: vase-tall;
}

#bamboo{
    grid-area: bamboo;
}

#quadropus{
    grid-area: quadropus;
}